name: Price-Tracker Deploy to NeoServ
on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.NEOSERV_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.NEOSERV_USER }}
          key: ${{ secrets.NEOSERV_SSH_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          script: |
            cd subdomains/price-tracker
            git pull
